#hero_container {
	position: absolute;
	width: 90vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;

	h1 {
		font-size: 4.5vw;
	}

	h2 {
		font-size: 1.5vw;
	}
}

#hero-text_container,
#hero-buttons_container {
	width: 40vw;
}

#hero-buttons_container {
	display: flex;
	justify-content: space-between;
}

.hero_button {
	font-size: 1.5vw;
	padding: 0.5vw 2.2vw;
	margin: 2vw 0;
	width: 49%;
	
	border: 0.1vw solid var(--soft-black);
	border-radius: 2vw;

	transition: background-color 0.3s, color 0.3s;
}

.hero_button:hover {
	background-color: var(--soft-black);
	color: var(--light-sand);
}