#header_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	height: 5vw;
	
	h1 {
		font-size: 2vw;
	}
}

#nav_container {
	a {
		font-size: 1.2vw;
		padding: 0 1vw;
	}
}